.faq {
  width: 1200px;
  margin: 0 auto 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.faqHeading {
  font-size: 36px;
  margin: 0;
}
.faqDescription {
  font-size: 16px;
  width: 630px;
  text-align: center;
}
.questionContainer {
  width: 950px;
  box-sizing: border-box;
  padding: 20px 50px;
  background-color: #f5f7fa;
  margin-bottom: 20px;
}
.questionHeader {
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.questionTitle {
  font-size: 20px;
}
.questionHeader i {
  font-size: 20px;
  margin-top: 30px;
  cursor: pointer;
}
.answerParagraph {
  font-size: 16px;
  color: #616368;
}
