.container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.featuresCol {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.featuresRow {
  display: flex;
}

.phonesContainer {
  position: relative;
  background-image: url("../../assets/UFPhoneEllipse.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.phoneFront {
  position: absolute;
  top: 0;
  left: 200px;
}
.featuresHeading {
  font-size: 36px;
  margin: 0;
}
.featuresParagraph {
  color: #616368;
}
.button {
  margin-left: 50px;
}
