.button {
  background-color: #2500f9;
  width: 170px;
  height: 60px;
  border-radius: 50px;
  font-weight: 700;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.button span {
  font-size: 18px;
}
