.builtContainer {
  width: 1200px;
  margin: 30px auto 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.builtDescription {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}
.builtDescription .builtHeading {
  font-size: 36px;
  margin: 0;
}
.builtDescription .builtParagraph {
  width: 90%;
  word-break: break-all;
  color: #888a8d;
}
.imageContainer {
  width: 100%;
}
.image {
  max-width: 100%;
  height: auto;
}
