.cardContainer {
  width: 320px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding-bottom: 20px;
  -webkit-box-shadow: 2px 2px 29px -4px rgba(0, 0, 0, 0.22);
  box-shadow: 2px 2px 29px -4px rgba(0, 0, 0, 0.22);
  border-radius: 15px;
}
.cardContainer:hover {
  border: 2px solid #ebebeb;
}
.cardHeader {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#fefeff, #f4f7f9);
}
.cardBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cost {
  font-size: 60px;
  margin: 0;
}
.cost span {
  font-size: 18px;
  color: #999ca5;
}
.subscribeName {
  font-size: 20px;
  margin: 0;
}
.subscribeDescription {
  margin: 0;
  color: #999ca5;
  margin-bottom: 20px;
}
.advantage {
  margin: 10px 0;
  color: #999ca5;
}
