.header {
  background-color: #fdfdfe;
  position: relative;
  z-index: 1;
}
.navContainer {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logoHeader {
  color: #fcae61;
  font-size: 30px;
  cursor: pointer;
}
.logoHeader span {
  color: black;
}
.nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  align-items: center;
}
.nav li {
  margin-right: 40px;
  cursor: pointer;
}
.jumboContainer {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.jumbo {
  width: 530px;
}
.awardLine {
  background-color: #e2eaed;
  font-size: 18px;
  border-radius: 20px;
  width: fit-content;
  padding-right: 20px;
}
.awardLine i {
  background-color: #feaa25;
  padding: 7px 10px;
  border-radius: 50%;
  margin-right: 10px;
  color: #fff;
}
.jumboHeader {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  line-height: 70px;
}
.jumbo h3 {
  color: #6a6c71;
}
.jumboLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.jumboLinks h4 {
  color: #2500f9;
  cursor: pointer;
}
.headerPhoneContainer {
  z-index: 3;
}
.headerBG {
  height: 260px;
  width: 100%;
  position: absolute;
  top: 660px;
  left: 0;
  background-image: url("../../assets/headerBgImage.png");
  background-size: cover;
  z-index: 2;
}
